APPWORLD_ROOT=/root/autodl-fs/datasets/appworld_root
HF_HOME=/root/autodl-tmp/hf_home
TRANSFORMERS_CACHE=/root/autodl-tmp/hf_home
HF_DATASETS_CACHE=/root/autodl-tmp/hf_home/datasets
WANDB_DIR=/root/autodl-fs/outputs/wandb
